:root {
  --primary:#f6648C; 
  --secondary: #CACACA; 
  --app-ctr-bg-color:#6b0090;
  --app-ctr-text-color: #ffffff;/*nuevo*/
  --app-bg-color: #ffffff;/*#2d3c47;*/
  --app-text-color:rgb(19, 18, 18);/*rgb(117, 117, 117);*/
  --app-text-Items: #07141d;
  --app-ctr-bg-degrad: linear-gradient(to right bottom, #e5097f, #c30087, #9b008d, #6b0090, #210990);
}

.border-primary{
   background: #007bff00!important;
   border:1px solid var(--app-ctr-bg-color)
}
.bg-primary {
    background: var(--app-ctr-bg-degrad)!important;
}

.navbar .navbar-brand{
  color: var(--app-ctr-text-color);
}
.navbar .navbar-nav .nav-link{
  color: var(--app-ctr-text-color);
}

.navbar-light .navbar-brand{
  color: var(--app-ctr-bg-color);
}
.navbar-light .navbar-nav .nav-link{
  color: var(--app-ctr-bg-color);
}

.bg-primary .navbar-brand{
  color: var(--app-ctr-text-color);
}
.bg-primary .navbar-nav .nav-link{
  color: var(--app-ctr-text-color);
}

.bg-light {
  background-color: #f8f9fa!important;
  border: 2px solid var(--app-ctr-bg-color);
  border-radius: 10px;
}

.bg-bot-float{
    position: fixed; 
    bottom: 50px;   
    right: 50px;
    width: 80px;
    height:80px;
    background: var(--app-ctr-bg-color);
    color: var(--app-ctr-text-color);
    border: solid 2px var(--app-ctr-text-color);
    border-radius: 50%
}
.bg-bot-float .txt-bot-float:hover{
   background: var(--app-ctr-text-color);
    color:var(--app-ctr-bg-color) ;
    border: solid 2px var(--app-ctr-bg-color);
    border-radius: 50%
}

.txt-bot-float{
  color: var(--app-ctr-text-color);
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
